<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<html>

<head>
<title>New Character</title>
<link href='http://fonts.googleapis.com/css?family=Khula:400,300,700' rel='stylesheet' type='text/css'>
</head>

<body>
<!-- sidebar and buttons -->
    <div class='sidebar'>
        <h1><%= 'New Character' %></h1> <!-- Page title goes here. -->
        <div class="button-group">
          <button class="button"> <%= link_to 'Back', characters_path %> </button>
        </div>
    </div>

<!-- main body -->
    <div class="wrapper">
      <%= render 'form', character: @character %>
    </div>
</body>