// Place all the styles related to the Characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

    ::-webkit-scrollbar {background-color:#888; height:4px; width:6px}
    ::-webkit-scrollbar-thumb:vertical {background-color:#333; height:50px}
    ::-webkit-scrollbar-thumb:horizontal {background-color:#333; height:8px!important}
    
    body, html {
        height:100%;
        margin:0 !important;
        padding:0;
        font-family:"Khula", Helvetica, Arial, sans-serif;
        background-color:#eee;
        overflow:hidden;
    }
    
    .sidebar {
        float:left;
        width:275px;
        background:#333;
        height:100%;
        overflow-y: auto; 
        padding:0;
        font-family:"Khula", Helvetica, Arial, sans-serif;
    }
    
    .sidebar::after {
        clear:both;
    }
    
    h1 {
        text-transform:uppercase;
        text-align:center;
        padding: 10px 20px;
        padding-bottom:0px;
        margin:10px 0px;
        z-index:0;
        position:relative;
        letter-spacing:1px;
        font-weight:300;
        color:#eee;
    }
    
    .nav {
        font-size:10px;
        letter-spacing:2px;
        text-transform:lowercase;
        text-align:center;
        margin-bottom:10px;
    }
    
    .nav a, a {
        color:#ccc !important;
        text-decoration:none;
        border-bottom:1px solid #555;
    }
    
    .nav a:hover, a:hover {
        color:#fff;
    }
    
    .nav a {
        padding:0 5px;
        border-bottom:0px;
    }
    
    .desc {
        padding: 0px 15px;
        text-align:center;
        font-size:11px;
        margin:0 10px;
        border:1px solid #555;
        text-transform:lowercase;
        letter-spacing:1px;
        font-weight:300;
        color:#ddd;
    }
    
    h2 {
        text-align:center;
        font-weight:300;
        text-transform:lowercase;
        letter-spacing:2px;
        margin-top:20px;
        margin-bottom:5px;
        color:#eee;
    }
    
    /* expanded buttons */
    /*.sidebar .button {
        display:block;
        background:none;
        border:1px solid #555;
        margin:6px auto;
        color:#ccc;
        width:100px;
        transition:0.5s all;
    }*/
    
    
    /* condensed buttons */
    .sidebar .button {
        display:inline;
        background:none;
        border:1px solid #555 !important;
        margin:3px 0px;
        color:#ccc;
        width:75px;
        transition:0.5s all;
    } 
    
    .button-group {
        width:200px;
        margin:0 auto;
        text-align:center;
    }

    .side-image {
        width:250px;
        margin:0 auto;
         display: block;
    }
    
    .sidebar .button:hover {
        background-color:#555;
        border:#777 1px solid;
        color:#eee;
    }
    
   .button.ischecked {
        background-color:#555!important;
        border:#777 1px solid!important;
        color:#eee!important;
    }
    
    .wrapper {
        background-color:#eee;
        max-height:100%;
        margin:30px;
        padding:10px;
        margin-left:300px ;
        overflow-y:scroll;
    }

    .wrapper .form_outer {
        display: block;
        width: auto;
        margin: 35px;
    }

    .wrapper .comment_box {
        height: 100px;
        width: 350px;
    }
    
    .wrapper:after {
        content: '';
        display: block;
        clear: both;
    }
    
    .header {
        background-color:#333;
        margin:0;
        padding:0;
        height:100px;
    }
    
    .header h1 {
        margin:0;
        padding-top:25px;
        padding-left:200px;
        font-size:40px;
    }
    
    .chara {
        width:200px;
        height:250px;
        background-color:#888;
        float:left;
        margin:10px 15px;
        padding:0;
        z-index:0;
        position:relative;
        overflow:hidden;
    }
    
    .charaimg {
        width:200px;
        z-index:1;
        position:relative;
    }
    
    .charatitle {
        height:35px;
        line-height:35px;
        position:absolute;
        bottom:0;
        background-color:#333;
        width:180px;
        padding:10px;
        color:#fff;
        opacity:0.8;
        text-align:center;
        z-index:2;
    }
    
    .charatitle span {
        margin:0;
        padding:0;
        display:inline-block;
        vertical-align:middle;
        line-height:1.5em;
        font-size:10px;
        letter-spacing:1px;
        font-weight:300;
        
    }
    
    .charatitle span p {
        margin:0;
        padding:0;
    }
    
    .charahover {
        position:absolute;
        z-index:5;
        background-color:#333;
        width:190px;
        height:240px;
        opacity:0;
        transition:1s opacity;
        padding:10px 0;
        padding-right:10px;
        overflow:hidden;
    }
    
    .charahover:hover {
        opacity:0.9;
        overflow-y:scroll;
    }
    
    .charahover p {
        line-height:1.35em;
        font-size:10px;
        letter-spacing:1px;
        font-weight:300;
        padding:2px 8px;
        color:#fff;
        margin:0 3px;
    }
    
    .charahover ul, .charahover ol {
        line-height:1.35em;
        font-size:10px;
        letter-spacing:1px;
        font-weight:300;
        color:#fff;
        padding-left:30px;
    }